* {

    padding: 0;
    margin: 0;
    
}

.displayimage {

    width: 50%;
    z-index: -10;
    position: relative;
    bottom: 250px;

}

.displayimage2 {

    width: 50%;
    position: relative;
    bottom: 250px;
    z-index: -10;

}

.greymenu {


    width: 5%;
    background-color: 0 0 0 0.5;
    height: 650px;
    position: relative;
    bottom: 250px;
    
}

.display {

    display: flex;

}

.menupara {

    position: relative;
    top: 300px;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.responsivediv{


    width: 1980%;
    height: 600px;
    z-index: -10;
    background-color: #3566D6;
    
}
.hidden{
padding-top: 30px;
    
}

.menuitems{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 150px;
    color: #F0F2F4;
    font-weight: bold;
    font-size: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    transition-property: all;
}

.about{

    border: 1px solid black;
    width: 22%;
    height: 300px;
    position: relative;
    text-align: center;
    padding-top: 150px;
    bottom: 100px;
    left: 15px;
    cursor: pointer;
}
.aboutlast{

    border: 1px solid black;
    width: 20%;
    height: 300px;
    position: relative;
    text-align: center;
    padding-top: 150px;
    
    bottom: 100px;
    left: 15px;
}
.wedoing {


    height: 300px;
    position: relative;
    bottom: 120px;
    background-color: #F0F2F4;
}

.what {

    text-align: start;
    padding: 50px;
    font-size: 30px;
    color: #3566D6;
    font-weight: bold;
}

.whatpara {

    text-align: start;
    padding: 10px;
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.cart1 {

    border: 1px solid black;
    width: 20%;
    height: 350px;
    padding-left: 40px;
    background-color: #F0F2F4;


}

.development {

    font-size: 50px;
    position: relative;
    right: 20px;

}

.carthead1 {

    position: relative;
    right: 20px;
    font-size: 20px;
    color: #DE5A27;
    font-weight: bold;
}

.cartpara1 {

    text-align: start;

}

.cartsmain {

    display: flex;
    justify-content: space-around;
}

.cart2 {

    border: 1px solid black;
    width: 20%;
    height: 350px;
    padding-left: 40px;
    background-color: #F0F2F4;


}

.application {

    font-size: 50px;
    position: relative;
    right: 20px;
}

.carthead2 {

    position: relative;
    right: 20px;
    font-size: 20px;
    color: #DE5A27;
    font-weight: bold;



}

.cartpara2 {

    text-align: start;

}


.cart3 {

    border: 1px solid black;
    width: 20%;
    height: 350px;
    padding-left: 40px;
    background-color: #F0F2F4;


}


.iosapplication {

    font-size: 50px;
    position: relative;
    right: 20px;
}

.carthead3 {

    position: relative;
    right: 20px;
    font-size: 20px;
    color: #DE5A27;
    font-weight: bold;



}


.cartpara3 {

    text-align: start;

}

.orangecolor {


    height: 1000px;
    position: relative;
    bottom: 120px;
    background-color: #3566D6;
    z-index: -10;
}

.aboutimg {

    padding-top: 350px;
    padding-left: 30px;
}

.aboutflex {

    display: flex;
}

.aboutpara {

    padding-top: 390px;
    font-size: 50px;
    padding-left: 30px;
}

.button1 {

    position: relative;
    left: 630px;
    bottom: 100px;
    width: 20%;
    height: 8%;
    border-radius: 20px;
}

.button2 {

    position: relative;
    left: 680px;
    bottom: 108px;
    width: 20%;
    height: 8%;
    border-radius: 20px;

}

.expertsection {

    padding-left: 30px;
    font-size: 30px;
    color: #3566D6;
    font-weight: bold;
}

.servicesmain {

    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.service1 {

    border-radius: 10px;
    width: 10%;
    height: 100px;
    background-color: #3566D6;


}

.service2 {

    border-radius: 10px;

    width: 10%;
    height: 100px;
    background-color: #3566D6;

}

.service3 {

    border-radius: 10px;

    width: 10%;
    height: 100px;
    background-color: #3566D6;

}

.webdesigning {

    font-size: 100px;
    padding-left: 15px;
    color: #F0F2F4;

}

.webdevelopment {

    font-size: 100px;
    padding-left: 15px;
    color: #F0F2F4;
}

.graphicdesigning {

    font-size: 100px;
    padding-left: 15px;
    color: #F0F2F4;
}

.experthead {

    text-align: center;
    font-weight: bold;
}

.experthead2 {

    text-align: center;
    font-weight: bold;
}

.experthead3 {

    text-align: center;
    font-weight: bold;
}



.projectsection {


    position: relative;
    top: 120px;
    width: 99%;
    height: 900px;
    z-index: -10;
    background-color: #F0F2F4;
}

.projecthead {

    margin: 10px;
    padding: 19px;
    font-size: 30px;
    font-weight: bold;
    color: #3566D6;
}

.projectpara {
    padding-left: 27px;
    font-size: 20px;


}

.projectcartmain {

    display: flex;
    position: relative;
    bottom: 220px;
    justify-content: space-around;
}

.projectcartmain2 {

    display: flex;
    position: relative;
    bottom: 150px;
    justify-content: space-around;
}

.projectcart1 {

    border: 1px solid white;
    background-color: white;
    width: 25%;
    position: relative;
    bottom: 380px;
    height: 300px;
}

.projectcart3 {

    display: none;
}

.projectcart1:hover {

    background-color: #3566D6;
}

.projectcart2:hover {

    background-color: #3566D6;
}

.projectcart3:hover {

    background-color: #3566D6;
}

.projectcart4:hover {

    background-color: #3566D6;
}

.projectcart5:hover {

    background-color:#3566D6 ;
}

.project1img {

    width: 30%;
    padding-left: 120px;
    padding-top: 7px;
}

.project2img {

    width: 30%;
    padding-left: 120px;
    padding-top: 7px;
}

.project3img {

    width: 30%;
    padding-left: 120px;
    padding-top: 7px;
}

.project4img {

    width: 30%;
    padding-left: 120px;
    padding-top: 7px;
}

.project5img {

    width: 30%;
    padding-left: 120px;
    padding-top: 7px;
}

.projectcart2 {

    border: 1px solid white;
    width: 25%;
    background-color: white;
    position: relative;
    bottom: 380px;
    height: 300px;
}

.projectcart3 {

    border: 1px solid white;
    background-color: white;
    width: 25%;
    position: relative;
    bottom: 380px;
    height: 300px;
}


.projectcart4 {

    border: 1px solid white;
    background-color: white;

    width: 25%;
    position: relative;
    bottom: 380px;
    height: 300px;
}

.projectcart5 {

    border: 1px solid white;
    background-color: white;
    width: 25%;
    position: relative;
    bottom: 380px;
    height: 300px;
}

.projectcarthead {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.projectcarthead2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.projectcartpara {
    text-align: center;
    font-size: 15px;
    padding-top: 40px;

}

.projectcarthead3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.projectcarthead4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.projectcarthead5 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.projectbutton1 {

    display: flex;
    position: relative;
    left: 100px;
    top: 20px;
    width: 45%;
    height: 30px;
    padding: 7px;
    border: 1px solid blue;

}

.arrow {

    padding-left: 40px;
}

.benifitssection {

    position: relative;
    bottom: 430px;
    width: 40%;
    left: 50px;
    padding: 15px;
    font-weight: bold;
    font-size: 40px;
    color: #3566D6;
}

.benifithead {

    font-size: 40px;
    color: #1A1F33;
    padding-top: 10px;
    padding: 15px;
}

.expertflex {

    display: flex;
}

.expert1 {

    padding-left: 60px;
    padding-top: 20px;
    font-size: 60px;
}

.expert1main {
    position: relative;
    bottom: 430px;
    left: 40px;

}

.expertpara {
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
    padding: 15px;
    padding-left: 40px;
}

/* .expertsubmain{

    display: flex;
} */
.threeimg {
    position: relative;
    bottom: 800px;
    left: 450px;
    width: 30%;
    border-radius: 30px;

}

.threeimg2 {
    position: relative;
    bottom: 1100px;
    left: 460px;
    width: 30%;
    border-radius: 30px;

}


.threeimg3 {
    position: relative;
    bottom: 700px;
    left: 60px;
    width: 30%;
    border-radius: 30px;

}

.finalpara {

    font-size: 20px;
    position: relative;
    bottom: 1030px;
    padding-left: 50px;
    color: #808080;

}

.feedbacksectionhead {

    text-align: center;
    position: relative;
    bottom: 850px;
    font-size: 30px;
    font-weight: bold;
    color: #3566D6;

}

.feedbacksubpara {
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
    color: #808080;

}

.animationdiv {


    height: 600px;
    width: 97%;
    cursor: pointer;
    position: relative;
    bottom: 800px;
}

.oliveimg {

    width: 30%;
    position: relative;
    top: 20px;
    cursor: pointer;
    left: 420px;
    border-radius: 50px;

}

.olivename {

    text-align: center;
    padding-right: 70px;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 30px;
    color: black;
}

.olivepara {

    padding-top: 70px;
    padding: 30px;
    color: #808080;
    font-size: 20px;
}

.leoimg {

    width: 30%;
    position: relative;
    left: 420px;
    top: 20px;
    border-radius: 50px;
    cursor: pointer;


}

.leoname {

    text-align: center;
    padding-right: 70px;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 30px;
    color: black;
}

.leopara {

    padding-top: 50px;
    padding: 30px;
    color: #808080;
    font-size: 20px;
}

.johnimg {

    width: 20%;
    position: relative;
    left: 450px;
    cursor: pointer;
    bottom: 10px;
}

.johnpara {

    padding-top: 50px;
    padding: 30px;
    color: #808080;
    font-size: 20px;

}

.johnname {

    text-align: center;
    padding-right: 160px;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 30px;
    color: black;
}


.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.joinussection {

    border: 1px solid black;
    width: 75%;
    height: 350px;
    background-color: #3566D6;
    position: relative;
    bottom: 730px;
    z-index: -10;

}

.joinus {

    padding: 50px;
    font-size: 40px;
    color: #F0F2F4;
}

.challenge {


    font-size: 30px;
    padding-left: 45px;
    position: relative;
    bottom: 10px;
    color: #F0F2F4;
}

.challengepara {

    padding-left: 45px;
    color: #F0F2F4;
    font-size: 15px;
}

.jobbutton {

    position: relative;
    left: 50px;
    width: 15%;
    height: 40px;
    top: 20px;
}

.jobbutton:hover {

    background-color: #F0F2F4;
    color: #3566D6;
}

.challengearrow {

    position: relative;
    left: 20px;
}

.newslettersection {

    width: 99%;
    height: 400px;
    background-color: black;
    position: relative;
    bottom: 730px;
    z-index: -10;
}

.newsletter {

    padding: 50px;
    font-size: 40px;
    color: #F0F2F4;
}

.what2 {


    font-size: 30px;
    padding-left: 45px;
    position: relative;
    bottom: 10px;
    color: #F0F2F4;
}

.what2para {

    padding-left: 45px;
    color: #F0F2F4;
    font-size: 15px;
}

.inputemail {
    position: relative;
    left: 50px;
    border: 1px solid white;
    outline: none;
    width: 20%;
    height: 30px;
    top: 20px;

}

.submitbutton {

    position: relative;
    left: 80px;
    width: 15%;
    height: 60px;
    top: 20px;
    border: 1px solid white;
    outline: none;
}

.zindeximg {

    padding-left: 730px;
    position: relative;
    width: 45%;
    bottom: 560px;
}
.footersection{

    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 350px;
}
.footerpara{

    position: relative;
    bottom: 200px;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #3566D6;
}
.footerlogo{

    position: relative;
    bottom: 240px;
    width: 15%;
}
.footersub{

    position: relative;
    bottom: 650px;
    padding: 35px;
    font-size: 20px;
    color: #808080;
    font-weight: bold;
}
.footerinformation{

  position: relative;
  bottom: 550px;
  display: flex;
  font-weight:bold;
  color: #3566D6;
  justify-content: space-around;  
}
.footerul1{

    padding: 30px;
    list-style: none;
    position: relative;
    right: 20px;
    color: #808080;
    font-weight: bold;
    cursor: pointer;
}

.footerul2{

    padding: 30px;
    list-style: none;
    position: relative;
    right: 45px;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
}

.footerul3{

    padding: 30px;
    list-style: none;
    position: relative;
    right: 20px;
    font-weight: bold;
    color: #808080;
    cursor: pointer;
}
.lines{

border: 1px solid grey;
height: 50px;
width: 85%;
position: relative;
bottom: 500px;
left: 90px;
}
.socialmedia{

    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 200px;
}
.medialinks{

    font-size: 40px;
    position: relative;
    bottom: 20px;
    display: flex;
    
}
.follow{

    color: blue;
}
.facebook{

    padding-right: 30px;
    color: #717171;
}
.facebook:hover{

    color: #3566D6;
}
.twitter{

    padding-right: 30px;
    color: #808080;

}
.twitter:hover{

    color: #3566D6;
}
.instagram{

    padding-right: 30px;
    color: #808080;

}
.instagram:hover{

    color: #3566D6;
}
.linkedin{

    padding-right: 30px;
    color: #808080;

}
.linkedin:hover{

    color: #3566D6;
}
.copyright{

    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width:1024px) {
    .displayimage {

        width: 40%;
        position: relative;
        bottom: 220px;
    }

    .displayimage2 {

        width: 60%;
        position: relative;
        bottom: 220px;

    }

    .greymenu {

        position: relative;
        bottom: 220px;
    }

    .cart1 {

        width: 25%;
        text-align: center;
    }

    .cartpara1 {

        text-align: start;
        padding: 5px 10px 0px 0px;
    }

    .cart2 {

        width: 25%;
        text-align: center;
    }

    .cartpara2 {

        text-align: start;
        padding: 5px 10px 0px 0px;
    }


    .cart3 {

        width: 25%;
        text-align: center;
    }

    .cartpara3 {
        padding-right: 10px;
    }

    .aboutpara {
        font-size: 40px;
    }

    .aboutimg {

        width: 40%;
    }

    .button1 {

        width: 10%;
        position: relative;
        right: 200px;
    }

    .button2 {

        width: 10%;
        position: relative;
        right: 100px;
    }

    .webdesigning {

        font-size: 100px;
        padding-left: 50px;
    }

    .service1 {

        width: 20%;
    }


    .webdevelopment {

        font-size: 100px;
        padding-left: 50px;
    }

    .service2 {

        width: 20%;
    }


    .graphicdesigning {

        font-size: 100px;
        padding-left: 50px;
    }

    .service3 {

        width: 20%;
    }

    .project1img {

        padding-left: 145px;
    }

    .projectcartpara {

        position: relative;
        bottom: 20px;
    }

    .projectbutton1 {

        width: 60%;
    }

    .project2img {

        padding-left: 145px;

    }



    .project4img {

        padding-left: 145px;

    }

    .project5img {

        padding-left: 145px;

    }

    .projectcart1 {

        width: 40%;
    }

    .projectcart2 {

        width: 40%;
    }

    .projectcart4 {

        width: 40%;
    }

    .projectcart5 {

        width: 40%;
    }

    .benifitssection {

        width: 40%;
        position: relative;
        right: 200px;
    }

    .threeimg {

        width: 29%;
        position: relative;
        left: 400px;

    }

    .threeimg2 {

        width: 25%;
        position: relative;
        bottom: 1030px;
        left: 410px;


    }

    .threeimg3 {

        width: 25%;
        position: relative;
        left: 160px;
        bottom: 770px;

    }

    .finalpara {

        padding-top: 150px;
    }

    .zindeximg {

        display: none;
    }

    .joinussection {

        width: 100%;
    }

    .newslettersection {

        width: 100%;
    }

    .inputemail {

        width: 70%;
    }

    .submitbutton {
        width: 20%;
    }
 .olivename{

    width: 85%;
    padding-left: 70px;
 }
 .oliveimg{
position: relative;
left: 350px;
 }
 .leoname{

    width: 85%;
    padding-left: 70px;
 }
 .leoimg{
    position: relative;
    left: 350px;
 }
 .johnname{

    width: 70%;
    padding-left: 180px;
 } 
}

@media only screen and (max-width:768px) {
    .display {

        display: flex;
        flex-direction: column;
    }

    .greymenu {

        height: 170px;
        width: 100%;
        position: relative;
        bottom: 300px;
        z-index: -5;
    }

    .menupara {

        display: none;
    }

    .displayimage {

        width: 100%;
    }

    .displayimage2 {

        width: 100%;

    }

    .cart1 {

        width: 40%;
        font-size: 14px;
    }

    .cart2 {

        width: 40%;
        font-size: 14px;
    }

    .cart3 {

        width: 40%;
        font-size: 14px;
    }

    .aboutflex {

        display: flex;
        flex-direction: column;
    }

    .aboutpara {

        position: relative;
        bottom: 350px;
    }

    .aboutimg {

        padding-left: 150px;
        width: 50%;
    }

    .webdesigning {
        position: relative;
        right: 20px;
    }

    .webdevelopment {
        position: relative;
        right: 20px;
    }

    .graphicdesigning {
        position: relative;
        right: 20px;
    }

    .project1img {

        position: relative;
        right: 40px;
    }

    .project2img {

        width: 30%;
        position: relative;
        right: 40px;
    }



    .project4img {
        position: relative;
        right: 40px;
    }

    .project5img {

        position: relative;
        right: 40px;
    }

    .projectcart1 {

        width: 40%;
    }

    .projectcart2 {
        width: 40%;


    }

    .projectcart4 {

        width: 40%;
    }

    .projectcart5 {
        width: 40%;


    }

    /* .projectbutton1{

        width: 100%;
        position: relative;
        right: 100px;
    } */
    .expertsubmain {
        display: flex;
        flex-direction: column;
    }

    .benifitssection {

        width: 90%;
        text-align: start;
    }

    .finalpara {


        font-size: 40px;

    }

    .expert1main {

        display: flex;
        justify-content: space-around;
        text-align: center;
        align-self: center;

    }

    .imagesdiv {

        padding-top: 900px;
        position: relative;
        right: 150px;
    }

    .paradiv {

        position: relative;
        bottom: 1170px;
        left: 30px;
    }

    .threeimg {
        position: relative;
        left: 250px;
        bottom: 700px;
        width: 40%;
    }

    .threeimg2 {

        position: relative;
        left: 270px;
        bottom: 1000px;
        width: 40%;
    }

    .threeimg3 {
        position: relative;
        left: 580px;
        bottom: 990px;
        width: 40%;

    }

    .feedbacksectionhead {

        position: relative;
        bottom: 1400px;
    }

    .animationdiv {

        position: relative;
        bottom: 1290px;
        
    }

    .oliveimg {

        position: relative;
        left: 300px;
    }

    .olivepara {

        text-align: center;
    }

    .olivename {

        padding-left: 90px;
        width: 80%;
    }

    .leoimg {

        position: relative;
        left: 300px;
    }

    .leopara {

        text-align: center;
    }

    .leoname {

        padding-left: 90px;
        width: 80%;
    }

    .johnimg {

        position: relative;
        left: 320px;
    }

    .johnpara {

        text-align: center;
    }

    .johnname {

        padding-left: 90px;
        width: 80%;
    }

    .jobbutton {

        width: 30%;
    }

    .inputemail {
        width: 60%;
    }

    .submitbutton {

        width: 20%;
        height: 70px;
    }
    .responsivediv{

        display: none;
     }
     .menuitems{
    
        display: none;
     }
 .footersub{

    position: relative;
    bottom: 1280px;
 }
 .socialmedia{

    display: flex;
    flex-direction: column;
 }
 .medialinks{

    padding-top: 60px;
    width: 77%;
    position: relative;
    left: 150px;
 }
 .copyright{

    text-align: center;
 }
.follow{
    padding-right: 20px;
    font-size: 20px;
    color: #DE5A27;
}
.joinussection{

    position: relative;
    bottom: 1350px;
}
.newslettersection{

    position: relative;
    bottom: 1350px;
}
.footersection{

    position: relative;
    bottom: 1020px;
}
.footerinformation{

    position: relative;
    bottom: 1200px;
}
.lines{

    position: relative;
    bottom: 1200px;
}
.socialmedia{

    position: relative;
    bottom: 1000px;
}          
}

@media only screen and (max-width:425px) {
    .cartsmain {

        display: flex;
        flex-direction: column;


    }

    .cart1 {

        width: 90%;
        font-size: 18px;

    }

    .cart2 {

        width: 90%;
        font-size: 18px;

    }

    .cart3 {

        width: 90%;
        font-size: 18px;

    }

    .what {
        font-size: 20px;
    }

    .whatpara {

        font-size: 15px;

    }

    .orangecolor {

        padding-top: 600px;
    }

    .aboutimg {

        position: relative;
        right: 60px;
    }

    .aboutpara {

        font-size: 40px;
    }

    .servicesmain {

        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .service1 {

        width: 50%;
        position: relative;
        bottom: 80px;
    }

    .service2 {

        width: 50%;
        position: relative;
        bottom: 40px;
    }

    .service3 {

        width: 50%;
    }

    .webdesigning {

        padding-left: 65px;
    }

    .webdevelopment {

        padding-left: 65px;
    }

    .graphicdesigning {

        padding-left: 65px;
    }

    .projectcartmain {

        display: flex;
        flex-direction: column;

    }

    .projectcartmain2 {

        display: flex;
        flex-direction: column;
    }

    .projectcart1 {

        width: 100%;
    }

    .projectcart2 {

        width: 100%;
    }

    .projectcart3 {

        width: 100%;
    }

    .projectcart4 {

        width: 100%;
    }

    .projectcart5 {

        width: 100%;
    }

    .project1img {
        padding-left: 185px;
    }

    .project2img {
        padding-left: 185px;

    }

    /* .project3img {
        padding-left: 125px;

    } */

    .project4img {
        padding-left: 185px;

    }

    .project5img {
        padding-left: 185px;

    }

    .projectbutton1 {

        width: 40%;
    }

    .projectpara {

        text-align: center;
    }

    .projecthead {

        text-align: center;
    }

    .expertsubmain {

        display: none;
    }

    .paradiv {

        display: none;
    }

    .feedbacksectionhead {

        display: block;
        padding-top: 1000px;
    }

    .animationdiv {

        padding-top: 30px;
    }

    .oliveimg {

        position: relative;
        left: 120px;
        width: 40%;

    }

    .olivename {

    position: relative;left: 20px;    
    width: 40%;
    }

    .leoimg {

        position: relative;
        left: 120px;
        width: 40%;

    }

    .leoname {

        position: relative;left: 20px;    
        width: 40%;
    }

    .johnimg {

        position: relative;
        left: 120px;
        width: 40%;
    }
.johnname{

    position: relative;left: 20px;    
    width: 30%;
}
    .jobbutton {

        width: 40%;
    }

    .inputemail {

        width: 50%;
    }

    .submitbutton {

        width: 30%;
    }
 .responsivediv{

    display: none;
 }
 .menuitems{

    display: none;
 }
.footerlogo{
   width: 20%;
   position: relative;
   bottom: 210px;
   
       
}
.footerpara{
    font-size: 30px;
    position: relative;
    bottom: 220px;
}
.footersub{

    position: relative;bottom: 650px;
}
.lines{

    width: 90%;
    position: relative;
    left: 20px;
}
.newslettersection{

    position: relative;
    bottom: 700px;
}
.joinussection{

    position: relative;
    bottom: 700px;
}
.footerul1{

    text-align: center;
    position: relative;
    right: 30px;
}

.footerul2{

    text-align: center;
    
}

.footerul3{

    text-align: center;
    
}
.footerinformation{

position: relative;
bottom: 500px;    
}
.lines{

    position: relative;
    bottom: 500px;
}
.footersection{

    position: relative;
    bottom: 400px;
}

.socialmedia{

    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 350px;
}
.medialinks{

    padding-top: 70px;
    display: flex;
    position: relative;
    left: 50px;
    top: 30px;
    text-align: center;
}
.copyright{

    text-align: center;
}
}
@media only screen and (max-width:375px) {
    .cart1 {

        width: 88%;
        font-size: 18px;

    }

    .cart2 {

        width: 88%;
        font-size: 18px;

    }

    .cart3 {

        width: 88%;
        font-size: 18px;

    }

    .project1img {

        position: relative;
        right: 60px;
    }

    .project2img {

        position: relative;
        right: 60px;
    }

    .project4img {

        position: relative;
        right: 60px;
    }

    .project5img {

        position: relative;
        right: 60px;
    }

    .submitbutton {

        width: 25%;
    }
    .responsivediv{

        display: none;
     }
     .menuitems{
    
        display: none;
     }
.footerinformation{

    position: relative;
    left: 10px;
}
            
}

@media only screen and (max-width:320px) {
    .cart3 {

        width: 89%;
    }

    .carthead3 {
        position: relative;
        bottom: 10px;
    }
.cartpara3{

    position: relative;
    bottom: 3px;
    font-size: 17px;
}
.cartpara2{

    position: relative;
    bottom: 3px;
    font-size: 17px;
}
.cartpara1{

    position: relative;
    bottom: 3px;
    font-size: 17px;
}
.aboutimg{

    position: relative;
    right: 80px;
}
.aboutpara{

    font-size: 35px;
}
.webdesigning{

    position: relative;
    right: 35px;
}
.webdevelopment{

    position: relative;
    right: 35px;
}
.graphicdesigning{

    position: relative;
    right: 35px;
}
.projectpara{

position: relative;
bottom: 28px;
}
.projectbutton1{

    height: 30px;
    width: 50%;
}
.project1img{

    position: relative;
    right: 75px;
}
.project2img{

    position: relative;
    right: 75px;
}
.project4img{

    position: relative;
    right: 75px;
}
.project5img{

    position: relative;
    right: 75px;
}
.animationdiv{

    position: relative;
    bottom: 1300px;
}
.oliveimg{

    width: 60%;
    position: relative;
    left: 70px;
}
.olivename{

    position: relative;
    left: -10px;
    width: 48%;
}
.olivepara{

    font-size: 20px;
} 

.leoimg{

    width: 60%;
    position: relative;
    left: 70px;
}
.leoname{

  
    position: relative;
    left: -10px;
    width: 48%;
}
.johnpara{

    font-size: 20px;
}
.johnimg{

    width: 60%;
    position: relative;
    left: 70px;
}
.johnname{

   
    position: relative;
    left: -5px;
    width: 15%;
}
.johnpara{

    font-size: 20px;
}
.inputemail{

    width: 50%;
}
.submitbutton{

    width: 22%;
}
.responsivediv{

    display: none;
 }
 .menuitems{

    display: none;
 }
.follow{

    font-size: 20px;
    color: #E86129;
    padding-right: 30px;
}
.footerinformation{

    display: flex;
    flex-direction: column;
}
.footerlogo{

    width: 40%;
    position: relative;
    bottom: 240px;
    
} 
.footerul1{

    width: 80%;
}
.footerul2{

    width: 85%;
}
.footerul3{

    width: 78%;
}
.medialinks{
    
}                                                                
}